@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  background: #0b132b; /* solid dark navy background */
  color: #ededed; /* light text */
  font-family: "Sora", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
